script/cif2fasta
script/obo2csv
script/subset_GOA
script/cif2chain
script/fasta2miss
script/cif2pdb
script/CSSR
script/Arena
script/fasta2freq
script/fasta2taxon
script/cisbp2meme
script/NWalign
output/*.gz
output/*.html
output/*.fsearch
output/*.cif
output/*.pdb
